<div class="mt4 h5 text-center">
  <br />
  <a href="/" class="gray no-underline inline-block mx2 mt1 md:mt0">Главная</a>
  <a href="/me/" class="gray no-underline inline-block mx2 mt1 md:mt0">Обо мне</a>
  <a href="/links/" class="gray no-underline inline-block mx2 mt1 md:mt0">Ссылки</a>
  <br />
  <br />
  <a href="mailto:mail@hi@cxd3.dev" class="gray no-underline inline-block mx2"> Напиши мне </a>
</div>
<br />
<br />
<!--========== Scroll Up Button ==========-->
<a href="#" class="scrollup" id="scroll-up">
  <i class="ri-arrow-drop-up-line"></i>
</a>
